:root {
  --main-bg-color: white;
  --checkbox-height: 50px;
  --checked-color: oklch(0.5 0.2 30);
  --unchecked-color: black;
  --duration: .4s;
}

* { 
  box-sizing: border-box; 
}

html, 
body { 
  margin: 0;
  height: 100%;
  background-color: var(--main-bg-color);
}

body {
  font: 24px/1.4 serif;
  margin: 1em;
}

h1,
h2 {
  margin-bottom: 0;
}

h1 + *,
h2 + * {
  margin-top: 0;
}

label {
  cursor: pointer;
}



/* Checkmark styles */
@keyframes dothabottomcheck {
  0% {
    height: 0;
  }
  100% {
    height: calc(var(--checkbox-height) / 2);
  }
}

@keyframes dothatopcheck {
  0% {
    height: 0;
  }
  50% {
    height: 0;
  }
  100% {
    height: calc(var(--checkbox-height) * 1.2);
  }
}

input[type=checkbox] {
  display: none;
}

.check-box {
  height: var(--checkbox-height);
  width: var(--checkbox-height);
  background-color: transparent;
  border: calc(var(--checkbox-height) * 0.1) solid var(--unchecked-color);
  border-radius: 5px;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  transition: border-color ease calc(var(--duration) / 2);
  cursor: pointer;
}

.check-box::before, 
.check-box::after {
  box-sizing: border-box;
  position: absolute;
  height: 0;
  width: calc(var(--checkbox-height) * 0.2);
  background-color: var(--checked-color);
  display: inline-block;
  transform-origin: left top;
  border-radius: 5px;
  content: " ";
  transition: opacity ease 0.5;
}

.check-box::before {
  top: calc(var(--checkbox-height) * 0.72);
  left: calc(var(--checkbox-height) * 0.41);
  box-shadow: 0 0 0 calc(var(--checkbox-height) * 0.05) var(--main-bg-color);
  transform: rotate(-135deg);
}

.check-box::after {
  top: calc(var(--checkbox-height) * 0.37);
  left: calc(var(--checkbox-height) * 0.05);
  transform: rotate(-45deg);
}

input[type=checkbox]:checked + .check-box,
.check-box.checked {
  border-color: var(--checked-color);
}
input[type=checkbox]:checked + .check-box::after,
.check-box.checked::after {
  height: calc(var(--checkbox-height) * 0.5);
  animation: dothabottomcheck calc(var(--duration) / 2) ease 0s forwards;
}

input[type=checkbox]:checked + .check-box::before,
.check-box.checked::before {
  height: calc(var(--checkbox-height) * 1.2);
  animation: dothatopcheck var(--duration) ease 0s forwards;
}



.chapters {
  display: flex;
  flex-direction: column;
  padding: 0 1em;
}

.chapter-container {
  display: flex;
  align-items: center;
  margin-top: 1em;
}

.chapter-label {
  font-size: 2em;
  padding-left: 0.5em;
}

.checkbox-parent {
  margin-top: calc(var(--checkbox-height) * 0.2);
}